/* .MVOGrid { 
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}*/

.historyText {
  border: 1px black solid;
  grid-row: 1;
  grid-column: 1/ span 2;
  height: 20rem;
}

.misiText {
  align-self: center;
  justify-self: center;
  grid-row: 1;
  grid-column: 1;
  width: 300px;
  height: 270px;
  height: 40rem;
}

.visiText {
  align-self: center;
  justify-self: center;
  grid-row: 1;
  grid-column: 2;
  height: 10rem;
}

.objektifText {
  align-self: center;
  justify-self: center;
  grid-row: 3;
  grid-column: 1;
  height: 20rem;
  margin-left: 9%;
}

.container {
  padding: 0 20px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: contents;
  }
}

.abouttUs {
  grid-template-areas:"misiText visiText objektifText";
  padding-inline: 1rem;
}

