.MVOGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.historyText {
    border: 1px black solid;
    grid-row: 1;
    grid-column: 1/ span 2;
    height: 20rem;
}

.misiText {
    border: 1px black solid;
    grid-row: 2;
    grid-column: 1;
    height: 10rem;
}

.visiText {
    border: 1px black solid;
    grid-row: 2;
    grid-column: 2;
    height: 10rem;
}

.objektifText {
    border: 1px black solid;
    grid-row: 3;
    grid-column: 1/ span 2;
    height: 30rem;
}

.column {
    float: left;
    width: 27%;
    margin-bottom: 16px;
    padding: 0 50px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 20px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: contents;
    }
  }

  