.buttonApply {
        border: none;
        border-radius: 4px;
        outline: 0;
        display: inline-block;
        padding: 18px;
        color: white;
        background-color: #2947A9;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        width: 30%;
        cursor: pointer;
        display: inline-block;
        transition: 0.25s;
        
    }

  .buttonApply:hover{
        background-color: rgb(255, 136, 0);
  }

  .container {
    padding: 0 20px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: contents;
    }
  }