.MVO {
    grid-template-areas:"misi visi objektif";
    padding-inline: 5rem;
    color: #858EAD;
}

.MVO a {
    color: rgb(58, 58, 218);
    text-decoration: underline;
}

.misi {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.visi {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);    
    border-radius: 5px;
    padding: 15px;
}
.objektif {
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 170px;
    border: 3px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px;
}

.MVOtitle {
    padding-block: 3rem;
}

.mvoIcon {
    width: 60px;
    height: 50px;
}



.MVO .mvopad {
    padding-block: 10px;
    font-family: Verdana;
    color: #212121;
}

.tentangImg{
    width: 850px;
    height: 380px;
    margin: 10rem;
    margin-inline: 4rem;
    overflow: hidden;
    border: #212121 solid thin;
}

.tentangImg img {
    width: 80%;
}

.tentangText{
    position: absolute;
    background-color: #2947A9;
    color: aliceblue;
    width: 350px;
    height: 470px;
    margin-inline: 45rem;
    margin-top: -38rem;
    padding: 2rem;
}

.tentangText h3{
    font-weight: 400;
}

.tentangText a div{
    display: flex;
    width: 10rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.skm {
    background-color: rgb(240, 242, 241);
}

.skm h2 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

.skmCard {
    grid-template-areas: 
    "skmCard1 skmCard2 skmCard3 skmCard4"
    "skmCard5 skmCard6 skmCard7 skmCard8";
    padding-inline: 5rem;
    gap: 3rem;
    justify-items: center;
    align-items: center;
}

.skmCard div {
    width: 15rem;
    height: 7.5rem;
    background-color: rgb(26, 26, 26);
    
}

.moreButton {
    width: 15rem;
    height: 4rem;
    border-radius: 2rem;
    margin-inline: auto;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-block: 5rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.buttonLanjut {
    display: inline-block;
    border-radius: 4px;
    background-color: #2947A9;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonLanjut span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonLanjut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonLanjut:hover span {
    padding-right: 25px;
  }
  
  .buttonLanjut:hover span:after {
    opacity: 1;
    right: 0;
  }

  .buttonLanjut:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }



.buttonReadMore {
    background-color: #2947A9;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px white solid;
}

.buttonReadMore:hover {
    background-color: #ffffff;
    color: rgb(48, 48, 48);
    
    
    
}

.skmCard img {
    width: 100%;
}

.sijil {
    grid-template-areas: "text text img";
    margin-inline: 2rem;
    margin-bottom: 5rem;
    gap: 2rem;
}

.sijilText {
    grid-area: text;
}

.sijilImg {
    grid-area: img;
}
.sijilImg img{
    margin-top: 1rem;
    width: 35rem;
    border: goldenrod 1px solid;
}

.officePicBanner {
    background-color: rgba(17, 17, 17, 0.418);
    height: 15rem;
    background-image: url(../Asset/officePicBanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    grid-template-columns: 5% 70% 25%;
    grid-template-rows: repeat(3,1fr);
    color: #f6f8f7;
    align-items: center;
}

.textOfficeBanner {
    grid-column: 2/2;
    grid-row: 2/2;
}

.buttonOfficeBanner {
    grid-column: 3/3;
    grid-row: 2/2;
}

.buttonOnBanner {
    width: 10rem;
    height: 4rem;
    border: 3px white solid;
    color: #f6f8f7;
    text-align: center;
    justify-items: center;
}

.buttonOnBanner:hover {
    background-color: #555555;
    color: white;
}

.diploma h2 {
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

.diplomaCard {
    grid-template-areas: 
    "diplomaCard1 diplomaCard2 diplomaCard3"
    "diplomaCard4 diplomaCard5 diplomaCard6";
    padding-inline: auto;
    gap: 3rem;
    justify-items: center;
    align-items: center;
}

.diplomaCard img {
    transform: scale(1);
    object-fit: cover;
    width: 25vw;
    height: 20vw;
    transition: all 1s ease;
}

.dpCardText {
    height: 5vw;
    width: 25vw;
    margin-top: -70px;
    background-color: #2947A9;
    color: rgb(246, 248, 247);
    padding: 15px;
    box-sizing: border-box;
    transition: all .5s;
}

.overlay {
    background-color: #0000003d;
    width: 25vw;
    height: 20vw;
    margin-top: -20vw;
    transition: all 500ms;

}


