body {
    margin: auto;
    font-family: system-ui;
}

a {
    color: rgb(67, 67, 67);
    transition: all .2s;
    text-decoration: none;
}

.grid {
    display: grid;
}

.pad10 {
    padding: 1.25rem;
}

.banner img {
    height: auto;
    width: 100%; 
    position: relative;
    vertical-align: middle;
}

.bodyItem {
    margin-inline: auto;
    background-color: rgb(255, 255, 255);
    width: 90%;
}
.BodyItm{
    width: 100%;
    background-image: url('../Asset/Bg1.jpg');
}

.textCenter {
    text-align: center;
    padding-inline: 10%;
}

.posa {
    position: absolute;
}

.hidden {
    display: none;
}

.ease {
    transition: all 0.5s ease;
}

.linkTajaan:hover{
    color: rgb(255, 136, 0);
}
