
/*
.navbar {
    height: 6rem;
    background-color: rgb(236, 236, 236);
}

.navbar img {
    height: 5rem;
    padding: .5rem;
    padding-left: 2rem;
}*/
.navbar {
    display: grid;
    grid-template-columns: 1fr 1.8fr 1fr 1fr 1fr; /* 5 columns */
    align-items: center;
    height: 80px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 70px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }

.navbar .no-search {
    position: absolute;
    justify-self: end;
    right: 5rem;
    top: 2.5rem;
}

.no-search a {
    color: #252525;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 2vw;
}

.no-search a:hover{
    color: rgb(255, 136, 0);
}

@media only screen and (max-width: 960px) { 
    .navbar .no-search {
        position: absolute;
        right: 5rem;
        top: 5.2rem;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr 1.8fr; /* 5 columns */
        align-items: center;
        height: 60px;
        overflow: hidden;
      }
}

